:root {
    --brand-color-black: #212121;
    --brand-color-grey: #757575;
    --brand-color-lightgrey: #f5f4fa;
    --brand-color-white: #fff;
    --brand-color-blue: #2196f3;
    --brand-color-transparent: #2196f3e5;
    --brand-color-dark: #2f303a;
    --brand-color-white-transparent: #ffffff99;
    --brand-color-dark-transparent: #2f303a66;
    --aboutus-hero-background: #2f303acc;
    --brand-color-grey-icon: #afb1b8;
    --icons-inactive: #afb1b8;
    --footer-social-icon-bg: rgba(255, 255, 255, 0.1);
    --border-radius-default: 4px;
    --transition-set: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-black);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
ul {
    list-style-type: none;
}
.header-line {
    border-bottom: 1px solid #ececec;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.header-left {
    display: flex;
    flex-direction: row;
}
.header-right {
    display: flex;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    align-items: center;
    /* width: 254px;
    margin-top: 32px;
    margin-bottom: 32px; */
}

.logo-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-black);
}
.logo-style {
    font-size: 26px;
    margin-right: 93px;
}
.logo-color {
    color: var(--brand-color-blue);
    font-size: 26px;
}
.pointer {
    cursor: pointer;
}
.nav-links {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-black);
}

.nav-links:hover,
.nav-links:fokus {
    color: var(--brand-color-blue);
}

.header-link:hover,
.header-link:active,
.header-link:focus {
    color: var(--brand-color-blue);
}
.active-nav-link {
    color: var(--brand-color-blue);
}
.active-nav-links::after {
    content: "";
    position: absolute;
    bottom: -34px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color-blue);
    pointer-events: none;
    display: none;
}

.active-nav-links:hover::after,
.active-nav-links:focus::after {
    display: block;
}
.header-link {
    transition: color var(--transition-set);
}
.contact-link-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-grey);
}

.contact-link-header:hover {
    color: var(--brand-color-blue);
}
.contact-link-header:focus {
    color: var(--brand-color-blue);
}

.mail {
    padding-right: 50px;
}

.contact-icon {
    vertical-align: middle;
    margin-right: 10px;
    --color4: currentColor;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--brand-color-blue);
}
.smartphone-icon {
    vertical-align: text-top;
}

.hero {
    background-color: var(--brand-color-dark);
}
.main-board {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 200px 0;
    margin: 0 auto;
    background-image: url(../images/main/hero-bg.jpg),
        linear-gradient(
            90deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0.4) 0%
        );
    background-repeat: no-repeat;
    background-position: center;
}
.main-claim {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--brand-color-white);
}

.first-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;

    background: var(--brand-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--brand-color-blue);
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;

    color: var(--brand-color-white);
}
.article-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 94px 0px;
}
.article-items {
    width: 270px;
}
.article-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.article-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-grey);
}
.article-icon-box {
    padding: 25px 102.34px;
    margin-bottom: 30px;
    background-color: var(--brand-color-lightgrey);
    border-radius: var(--border-radius);
}

.section-title-what {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}
.photo-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
}

/* aboutus section */

.ul-flex {
    display: flex;
    flex-direction: row;
}
.aboutus-item {
    position: relative;
}

.aboutus-img {
    display: block;
}

.aboutus-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--brand-color-white);
    font-weight: 700;
    background-color: var(--aboutus-hero-background);
}
/* aboutus section */
.section-title-who {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
}
.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.person-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-grey);
    padding-bottom: 16px;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--brand-color-lightgrey);
    padding-bottom: 94px;
}
.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.team-item {
    display: flex;
    flex-direction: column;

    width: 270px;

    background: var(--brand-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    padding-top: 94px;
}

.client-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 94px;
}

.clients-icon-svg {
    --color2: currentColor;
    --color3: currentColor;
    fill: currentColor;
    transition: color var(--transition-set);
}

.clients-icon {
    display: block;
    padding: 16px 32px;
    border: 1px solid var(--icons-inactive);
    border-radius: var(--border-radius-default);
    color: var(--icons-inactive);
    transition: border var(--transition-set);
}
.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.clients-icon:hover,
.clients-icon:focus {
    border: 1px solid var(--brand-color-blue);
    color: var(--brand-color-blue);
}
.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 60px 0;
    background-color: var(--brand-color-dark);
    gap: 70px;
}
.footer-section {
    display: flex;
    width: 1200px;
}

.footer-contact-box {
    display: flex;
    flex-direction: column;
}
.logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-white);
}
.address-text {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--brand-color-white);
    margin-top: 20px;
}

.contact-link-footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-grey);
    margin-top: 9px;
}

.address-contact {
    color: var(--brand-color-white-transparent);
    transition: color var(--transition-set);
}
.footer-joinus-box {
    padding-top: 12px;
    padding-left: 70px;
}

.footer-joinus-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--brand-color-white);
}

.footer-social-icon {
    background-color: var(--footer-social-icon-bg);
    fill: var(--brand-color-white);
}

/* social icons */

.social-icon-svg {
    /* --color3: var(--icons-inactive); */
    fill: currentColor;
    transition: color var(--transition-set);
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
    transition: background-color var(--transition-set);
}

.social-icon {
    display: block;
    padding: 12px;
    font-size: 0;
    border-radius: 50%;
    color: var(--brand-color-grey-icon);
    transition: background-color var(--transition-set);
}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--brand-color-blue);
}

.social-icon:hover .social-icon-svg {
    fill: var(--brand-color-white);
}
.footer-newsletter {
    margin-left: 78px;
    padding-top: 12px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.newsletter-input {
    width: 358px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: var(--brand-color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: var(--border-radius-default);
    padding: 15px 16px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input:hover,
.newsletter-input:active,
.newsletter-input:focus {
    border: 1px solid var(--brand-color-blue);
    outline: none;
}

.newsletter-btn {
    width: 200px;
    height: 50px;
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: var(--border-radius-default);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

/* modal */

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.4);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000033;
    z-index: 1;
}

.modal-box {
    position: relative;
    width: 528px;
    height: 581px;
    border-radius: var(--border-radius);
    background-color: var(--brand-color-white);
    transition: transform 0.6s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: var(--brand-color-white);
    cursor: pointer;
}

.modal-close-btn-x {
    display: block;
}

.modal-backdrop.is-hidden .modal-box {
    transform: scale(0);
}

.modal-container {
    margin: 40px;
}
.modal-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
    text-align: center;
    color: var(--brand-color-black);
}

.modal-form-label .modal-form-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label:hover .modal-form-icon {
    fill: var(--brand-color-blue);
}

.modal-form-label {
    display: block;
    position: relative;
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--brand-color-grey);
}

.modal-form-icon {
    position: absolute;
    top: 27px;
    left: 13px;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--border-radius-default);
    margin-top: 4px;
    padding-left: 40px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:active,
.modal-form-input:focus {
    border: 1px solid var(--brand-color-blue);
    outline: none;
}

.modal-form-label:focus-within .modal-form-icon {
    fill: var(--brand-color-blue);
}

.modal-form-textarea {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-btn {
    padding: 10px 76px;
    margin: 30px 120px;
    background-color: var(--brand-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius-default);
    color: var(--brand-color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    border: none;
    cursor: pointer;
}

.modal-form-agreement-checkbox {
    position: absolute;
    height: 15px;
    width: 16px;
    opacity: 0;
}

.modal-form-agreement-custom-checkbox,
.modal-form-agreement-custom-checkbox-checked {
    margin-right: 8px;
    vertical-align: text-top;
}

.modal-form-agreement-custom-checkbox {
    fill: var(--brand-color-black);
}

.modal-form-agreement-custom-checkbox-checked {
    display: none;
}

.modal-form-agreement-checkbox:checked
    ~ .modal-form-agreement-custom-checkbox-checked {
    display: inline-block;
}

.modal-form-agreement-checkbox:checked ~ .modal-form-agreement-custom-checkbox {
    display: none;
}

.modal-form-agreement-label {
    color: var(--brand-color-grey-icon);
    font-size: 14px;
}

.modal-form-link {
    color: var(--brand-color-blue);
}
/* 




portolio.html




*/

.portfolio-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 94px;
    gap: 8px;
}

.portfolio-button-filter {
    background-color: var(--brand-color-lightgrey);
    border-radius: 4px;
    border: 0px;

    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px 6px 22px;
    color: var(--brand-color);
    transition: background-color var(--transition-set),
        color var(--transition-set), box-shadow var(--transition-set);
}
.portfolio-button-filter:hover {
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-button-filter:active {
    background-color: var(--brand-color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: var(--brand-color-blue);
    color: var(--brand-color-white);
}
.portfolio-button-filter:focus {
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.projects {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 94px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1200px;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
.card-item {
    width: 370px;
    height: 404px;
    background-color: var(--brand-color-white);
    border: 1px solid #eeeeee;
    transition: box-shadow var(--transition-set);
}

.card-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;
    margin-left: 24px;
    margin-top: 20px;
}

.product-field {
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    letter-spacing: 0.03em;
    color: var(--brand-color-grey);
    margin-left: 24px;
    margin-top: 4px;
}

.portfolio-image-box {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--brand-color-white);
    background-color: var(--brand-color-transparent);
    transition: top var(--transition-set);
}

.card-item:hover .portfolio-overlay {
    top: 0;
}
